.layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "headerL headerR"
        "inspo inspo";
    flex: 1;
}
.inspo{
    grid-area: inspo;

    padding-top: 1em;
    margin: 0 auto;
    width: min(1300px, 80%);
    padding-left: 20px;
    padding-right: 20px;
    columns: 4 200px;
    column-gap: 1em;
}
.inspo img{
    width: 100%;
    display: block;
    margin-bottom: 1em;
}


@media screen and (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px auto;
        grid-template-areas:
            "headerL"
            "headerR"
            "inspo";
    }

    .headerR ul {
        justify-content: center;
        flex-wrap: wrap;
    }
}